# exclude everything except directory foo/bar
*.log
/logs
*.pyc
.idea/
*/target/**
/target/**/*
/target/classes/
/target/test-classes/
/target/surefire-reports/
/target/maven-status/
/target/generated-sources/
/target/generated-test-sources/
/reports
/dist/
test.py
*.tmp
/*.egg-info
*.iml
.DS_Store
